h1,h2,h3,h4,h5 {
  text-align: center;
}

#loginPageInput label
{
	margin-left:780px;
}

#loginPageInput input 
{
	width:20%;
	margin-left: 770px;
}

#loginPageInput button	
{
	margin-left: 770px;
}
.loginForm
{
	margin-top: 100px;
}

.wrap
{
	display:inline;
	vertical-align:top;
	text-align:center;
}

#lefty {
    float: left;
}

#clear {
    clear:both;
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dashboard{
     display: flex;
    justify-content: space-between;
}

.dashboard li 
{ 
	border-right: 1px solid #000000;
}

#borda {
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   background-color: #f0f0f0;
   padding-bottom: 50px;
   clear: both;
   display: block;
}