<style>


    .form-control {
        width: 50%;
        margin-left: 130px;
    }
    .jumbotron {
        width: 30%;
        margin-left: 700px;
    }
    .wrap {
        text-align: center;
    }
    h1 {
        margin-left:90px;
</style>
<div class="wrap">
<h1>Welcome To SpeaQ Application</h1>
<div ng-controller="MasterCtrl">
<form >
  <div class="jumbotron" class="loginForm">
  <div class="form-group" id="loginPageInput">
    <label for="exampleInputEmail1">User Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Username" ng-model="credentials.username">
  </div>
  <div class="form-group" id="loginPageInput">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="credentials.password">
  </div>
  <div id="loginPageInput">
    <button ng-click="login()" type="submit" class="btn btn-primary btn-lg">Submit</button>
  </div>
</form>
  <div id="loginPageInput">
  <div class="wrap">
    <button ng-click="register()" class="btn btn-default" id="lefty" >Register</button>
    <button ng-click="forgotpass()" class="btn btn-default" id="clear">Forgot my Password</button>
  </div>
  </div>
</div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>
</div>