<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">Company name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email</label>
            <input type="text" name="email" id="Text1" class="form-control" ng-model="vm.user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is Required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.phoneNum.$dirty && form.phoneNum.$error.required }">
            <label for="username">Phone Number</label>
            <input type="text" name="phone Number" id="Text1" class="form-control" ng-model="vm.user.phoneNum" required />
            <span ng-show="form.phoneNum.$dirty && form.phoneNum.$error.required" class="help-block">Phone Number is Required</span>
        </div>
        <div ng-controller="UploadController">
        <h1>Please Upload Your company logo</h1>
        <div class="form-group" ng-class="{ 'has-error': form.phoneNum.$dirty && form.phoneNum.$error.required }">
            <input type="file" id="Text1" class="form-control" ng-file-select="onFileSelect($files)" >
        </div>
        <b>Preview:</b><br />
            <i ng-hide="imageSrc">No image choosed</i>
            <img ng-src="{{imageSrc}}" /><br/>
            <b>Progress:</b>
            <progress value="{{progress}}"></progress>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>