<div ng-controller="MasterCtrl">
<h1>Questions</h1>
    
    
<button type="submit" ng-click="open()" class="btn btn-primary">
  <i class="glyphicon glyphicon-plus"></i>Add Question</button></a>

    
<table class="table">
	<tr>
        <th>Tag Name
        </th>
		<th>question
		</th>
		<th>response
        </th>
        <th>Percentage
        </th>
	</tr>
	<tr ng-repeat="row in rows">
		<td>{{row.tagName}}
        </td>
        <td>{{row.question}}
		</td>
		<td>{{row.response}}
		</td>
        <td>{{row.percentage}}
        </td>
        <td><input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(row.tagName)"/></td>
	</tr>
</table> 


    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add a question!</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form" ng-submit="addRow()">
	<div class="form-group">
		<label class="col-md-2 control-label">Question</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="question"
				ng-model="question" />
		</div>
	</div>
     <div class="form-group">
		<label class="col-md-2 control-label">Tag Name</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="tagName"
				ng-model="tagName" />
		</div>
	</div>
    <h5 style="margin-left:300px">Please write down 4 anwsers and select the correct one</h5>
	<div class="form-group">
        <input type="checkbox" ng-model="myCheckbox1" ng-change="cbSelected()">
		<label class="col-md-2 control-label">Anwser 1</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="response"
				ng-model="response1" />
		</div>
	</div>
    <div class="form-group">
        <input type="checkbox" ng-model="myCheckbox2" ng-change="cbSelected()">
		<label class="col-md-2 control-label">Anwser 2</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="response"
				ng-model="response2" />
		</div>
	</div>
    <div class="form-group">
        <input type="checkbox" ng-model="myCheckbox3" ng-change="cbSelected()">
		<label class="col-md-2 control-label">Anwser 3</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="response"
				ng-model="response3" />
		</div>
	</div>
    <div class="form-group">
        <input type="checkbox" ng-model="myCheckbox4" ng-change="cbSelected()">
		<label class="col-md-2 control-label">Anwser 4</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="response"
				ng-model="response4" />
		</div>
	</div>
	<!--<div class="form-group">								
		<div style="padding-left:110px">
			<input type="submit" value="Submit" class="btn btn-primary"/>
		</div>
	</div>-->
</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

<div ng-show="selected">Selection from a modal: {{ cbSelected() }}</div>



    

</div>




